.SecondBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ButtonTransparent {
  background-color: transparent;
  border: transparent;
  text-decoration: underline;
}

.ImageBox {
  display: flex;
  border-radius: 5%;
  margin: 2% 0;
}

.InfoTitleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aricoverImg {
  width: 100%;
  max-width: 95px;
  height: 25px;
  background-size: cover;
  background-image: url("https://a0.muscache.com/im/pictures/51a7f002-b223-4e05-a2af-0d4838411d92.jpg");
}

.BodyTitle {
  font-size: 22px;
  font-weight: 600;
}

.Body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

/* 댓글 CSS */
.Commentarea {
  width: 100%;
  max-width: 1120px;
}

.InputComment {
  width: 100%;
  max-width: 1000px;
}

.CommentList {
  display: flex;
  flex-direction: column-reverse;
}

.profileImg {
  width: 56px;
  height: 56px;
  margin-right: 0.5%;
  border-radius: 50%;
  background-size: cover;
  background-image: url("https://a0.muscache.com/defaults/user_pic-225x225.png?im_w=240");
}

/* 예약가능여부 창 CSS */
.check_date {
  display: flex;
}

.personCnt {
  display: flex;
}
